<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<body>
<!-- Đây là fragment header -->
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">My Store</a>
      <h1 class="mt-5" th:text="'Welcome, ' + ${#authentication.name} + '!'">Welcome, Customer!</h1>
      <a th:href="@{/logout}" class="btn btn-danger">Logout</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" th:action="@{/products}" method="get">
          <input class="form-control me-2" type="search" name="keyword" placeholder="Tìm kiếm sản phẩm"
                 th:value="${keyword}" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="header">
        <a href="/cart">Giỏ hàng (<span id="cartItemCount" th:text="${cartItemCount}">0</span>)</a>
      </div>

    </div>
  </nav>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:src="@{/js/app.js}"></script>

</body>
</html>
