<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin - Products</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <h2 class="mt-3">Danh sách Sản phẩm</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Loại sản phẩm</th>
      <th>Hình ảnh</th>
      <th>Hành động</th> <!-- Thêm cột hành động -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productPage.content}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.category != null ? product.category.name : 'Chưa có loại'}"></td>
      <td th:if="${product.imageUrl} != null">
        <img th:src="${product.imageUrl}" alt="Product Image" style="width:100px;" />
      </td>
      <td th:if="${product.imageUrl} == null">No Image</td>
      <!-- Thêm cột nút sửa -->
      <td>
        <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-warning">Sửa</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/admin/products/add}" class="btn btn-primary">add product</a>


  <!-- Phân trang -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" th:classappend="${productPage.first} ? 'disabled'">
        <a class="page-link" th:href="@{/admin/products(page=${productPage.number - 1}, size=${productPage.size})}">Previous</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}"
          th:classappend="${productPage.number == i} ? 'active'">
        <a class="page-link" th:href="@{/admin/products(page=${i}, size=${productPage.size})}"
           th:text="${i + 1}"></a>
      </li>
      <li class="page-item" th:classappend="${productPage.last} ? 'disabled'">
        <a class="page-link" th:href="@{/admin/products(page=${productPage.number + 1}, size=${productPage.size})}">Next</a>
      </li>
    </ul>
  </nav>

  <a th:href="@{/admin/admin-home}" class="btn btn-primary">Back to Admin Home</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
