<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
  <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
  <p>This is the customer home page.</p>
  <a th:href="@{/products}" class="btn btn-secondary">Sản phẩm</a>
  <a th:href="@{/orders}" class="btn btn-secondary">đơn hàng</a>


</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
