<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
  <h1 class="mt-5" th:text="'Welcome, ' + ${#authentication.name} + '!'">Welcome, Customer!</h1>
  <p>This is the customer home page.</p>
  <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
